<h1>Add employee</h1>

<%= form_tag :action => 'create' do %>

<p><label for = "employee_name">Name</label>:
<%=text_field 'employee', 'name'%>

<p><label for = "employee_address">Address</label><br/>

<%= text_area 'employee', 'address' %></p>
<%= submit_tag "Create" %>

<% end -%>
<%= link_to 'Back', {:action => 'index'} %>
